---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Main page";
---

<MainLayout pageTitle={pageTitle}>
  <h2 class="text-center text-slate-400">Yes, this is seriously the main page. What did you expect?</h2>
</MainLayout>


