---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="container m-auto">
			<div class="p-3 bg-slate-800 h-14 m-2 rounded-xl flex items-center">
				<div class="text-fuchsia-50 text-2xl">Hello Astro</div>
			</div>
			<div class="">
				<h1 class="text-3xl font-bold underline">some text field</h1>
			</div>
		</div>
	</body>
</html>
