---
import MainLayout from "../layouts/MainLayout.astro";
import * as testPost from "./test.md";
const pageTitle = "Embedded markdown test";
---

<MainLayout>
  <div class="prose dark:prose-invert break-words max-w-full">
    <testPost.Content />
  </div>
</MainLayout>
