---
export const prerender = true;
import * as myPost from './posts/post-1.md';
const pageTitle = 'Embedded markdown test';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="bg-slate-100">
		<div class="container mx-auto">
            <nav class="px-4 bg-slate-800 h-14 my-2 rounded-3xl flex items-center justify-between">
                <a href="/" class="flex justify-center items-center gap-3">
                    <img src="svg/waving-hand.svg" class="w-10" alt="">
                    <div class="text-fuchsia-50 text-2xl">Hello Astro</div>
                </a>
                <ul class="flex items-center text-slate-100 gap-5 text-xl [&>*:hover]:text-slate-400">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
              </nav>
			<div class="flex justify-center items-center flex-col text-gray-300 bg-slate-800 rounded-3xl p-5">
				<div class="prose dark:prose-invert max-w-none">
                    <myPost.Content />
                </div>
			</div>
		</div>
	</body>
</html>
