<div class="switch" id="themeToggler">
  <div class="switch__circle"></div>
</div>

<style>
  .switch {
    height: 25px;
    width: 50px;
    border-radius: 40px;
    padding: 2px;
    background-color: #445369;
    cursor: pointer;
    position: relative;
  }

  .switch__circle {
    height: 100%;
    width: 50%;
    border-radius: 100%;
    background-color: #7388a3;
    position: relative;
    left: 0;
  }

  .switch_active {
    background-color: rgb(210, 219, 230);
  }

  .switch_active .switch__circle {
    left: 50%;
  }
</style>