---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle, tag } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="/main.css" />

    <script is:inline src="/theme-switch.js"></script>
  </head>
  <body class="p-5 bg-slate-50 dark:bg-slate-800">
    <div class="container mx-auto">
      <Header />
      <div
        class="flex justify-center items-center flex-col text-slate-700 dark:text-fuchsia-50"
      >
        <h1 class="text-xl sm:text-3xl font-bold mb-8 text-center">
          {pageTitle}
          {
            tag && (
              <>
                <br class="block sm:hidden" />
                <span class="block mt-1 sm:inline sm:ml-1 py-1 px-2 bg-slate-600 text-slate-200 rounded-md">
                  {tag}
                </span>
              </>
            )
          }
        </h1>
        <slot />
      </div>
      <Footer />
    </div>
    <script
      src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"
    ></script>
  </body>
</html>
