<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="theme-color" content="#00f0ff" />
</head>
<body>
    <div class="container mx-auto">
		<nav class="px-4 bg-slate-800 h-14 my-2 rounded-3xl flex items-center justify-between">
			<a href="/" class="flex justify-center items-center gap-3">
				<img src="svg/waving-hand.svg" class="w-10" alt="">
				<div class="text-fuchsia-50 text-2xl">Hello Astro</div>
			</a>
			<ul class="flex items-center text-slate-100 gap-5 text-xl [&>*:hover]:text-slate-400">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		  </nav>
		  <div class="flex justify-center items-center flex-col text-gray-800">
            <div class="prose">
                <slot />
            </div>
		</div>
    </div>
</body>
</html>
